.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-radius: 0;
  height: 100%;
}

.card-body {
  position: relative;
}

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  display: flex;
  z-index: 1000;
  color: #efefef;
}

#loadingScreen > * {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.input-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  width: max-content;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 15px;
  display: inline-flex;
  background-color: #e1e1e1;
  margin-left: -15px;
}

.input-container > select {
  background-color: #e1e1e1;
  margin-left: 10px;
  margin-right: 10px;
}

.input-container > input {
  padding-left: 10px;
  padding-right: 10px;
}

.input-container > * {
  border: 0;
}

.input-container > *:focus {
  outline: none;
}

.card {
  font-size: 1.5rem;
  margin-top: 15vh;
  margin-bottom: 20vh;
  box-shadow: 1px 1px 2px #9c9c9c;
}

.updated-time {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 10px;
}

.disclaimer {
  font-size: 0.75rem;
  margin-bottom: 30px;
  font-style: italic;
}

.currency-item {
  text-align: left;
  border-bottom: 2px solid;
  padding-left: 10px;
  margin-top: 20px;
  display: flex;
}

.currency-item > span:first-child {
  margin-right: auto;
}

.currency-item > span:last-child > button {
  margin-left: 15px;
  border: 0;
  background-color: #e62929;
  color: #efefef;
}

nav {
  width: 100%;
  position: fixed !important;
  z-index: 1;
  left: 0;
  top: 0;
  box-shadow: 0px 1px 2px #9c9c9c;
}

footer {
  position: fixed !important;
  width: 100%;
  left: 0;
  bottom: 0;
}

@media(min-width: 992px) {
  *[data-mobilelayout="true"] {
    display: none;
  }
}

@media(max-width: 991px) {
  footer {
    display: none !important;
  }

  *[data-mobilelayout="false"] {
    display: none;
  }

  *[data-mobilelayout="true"] > span {
    display: block;
    float: none !important;
    margin-bottom: 20px;
  }

  *[data-mobilelayout="true"] > span:first-child {
    margin-top: 100px;
  }

  .social-icon {
    margin-right: 30px;
  }

  .rates-table {
    border: 1px solid #8e8e8e;
    border-radius: 20px;
    max-height: 300px;
    overflow-y: auto;
  }

  .currency-item {
    margin: 0;
    border-bottom: 1px solid #8e8e8e;
  }

  .currency-item:last-child {
    border-bottom: 0;
  }

  .currency-item button {
    padding-left: 15px;
    padding-right: 15px;
  }
}